
</section>
      <section class="about">
     <h1>关于我</h1>
     <p class="entry-content">
     软件工程学生 <br />
     计算机考古爱好者 <br />
     <a href="http://www.sheyu.org/" target="_blank">舎予读书</a>创建者 <br />
     我<a href="http://book.douban.com/people/71231513/" target="_blank">读过的书</a> <br />
    <a href="http://www.douban.com/people/71231513/" target="_blank">豆瓣</a> <br />
    <a href="http://www.cnblogs.com/5long" target="_blank">博客园</a> <br />
    <a href="http://blog.csdn.net/taonull" target="_blank">CSDN</a> <br />
    </p>
</section>
