<section>
    <h1>推荐阅读</h1>
    <ul id="recommend">
        <li class="post">
            <a href="/2015/code-login-sina-weibo-update-weibo/">Python代码登录新浪微博并自动发微博</a>
        </li>
        <li class="post">
            <a href="/2015/source-sdwebImage/">源码阅读:SDWebImage</a>
        </li>
        <li class="post">
            <a href="/2015/cuda-learning/">关于CUDA的一些学习资料</a>
        </li>
        <li class="post">
            <a href="/2014/paodingjieniu/">从《庖丁解牛》谈谈学习编程</a>
        </li>
        <li class="post">
            <a href="/2015/learn-mobile-development/">我的移动开发入门之坑</a>
        </li>
        <li class="post">
            <a href="/2015/xi-yin-li-fa-ze/">也谈吸引力法则</a>
        </li>
        <li class="post">
            <a href="/2015/ancient-modern-celebrity-reading-law/">不是书评：《古今名人读书法》</a>
        </li>
    </ul>
</section>