[submodule ".themes/forest"]
	path = .themes/forest
	url = git://github.com/octothemes/forest.git
[submodule ".themes/constant-cockles"]
	path = .themes/constant-cockles
	url = git://github.com/octothemes/constant-cockles.git
